/*color Palette
#67618F -dark blue
#8D99AE -light blue
#EDF2F4 -almost white
#EF233C	- light red
#D90429 -red

*/
/* Global Styles
------------------------------*/
html {
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

h1, h2{
	font-family: 'Raleway', cursive;
	/*text-rendering: optimizeLegibility;*/
}

h1{
	font-size: 3em;
}

h2{
	font-size: 2em;
	letter-spacing: 1px;
}
h2.contact{
	font-size: 1.5em;
}
h3 {
	font-size: 1.5em;
	font-weight: normal;
}	
a {
	color:#EDF2F4;
}

a:hover {
	text-decoration: none;
	color: #EF233C; 
}

.content-wrap {
	width: 80%;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
}
.colNar {
	width: 30%;
	float: left;
}
	
.colWide {
	width: 70%;
	float: left;
	padding-left: 20px;
}
		
	
/* Header and Footer
------------------------------*/
header, footer {
	background:#2B2D42;
	color: #EDF2F4;
}
.profile-img{
	max-height: 288px;
	max-width: 193px;
	border-radius: 50%;
}

header h1, header h2{
	color: #EDF2F4;
}

.tagline {
	font-size: 1.2em;
}
footer {
	color: #8D99AE;
	text-align: center;
	padding: 5px;
}


/* Education and Experience
------------------------------*/
.work {
	background: #EDF2F4;
}


/*.education {
	background: #98A7D0;
}*/

.education {
	/*color: #FFF;*/
	color: #EDF2F4;
	background: #66708C; 
}

.skills li {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
}